This notebook contains code for traning a RandomForest regressor to predict measurement biases of miRXplore datasets from TGIRT-seq.

The [R RandomForest](https://cran.r-project.org/web/packages/randomForest/randomForest.pdf) model is being used here becuase neither [scikit-learn randomforest](https://github.com/scikit-learn/scikit-learn/issues/5442) nor the *train* module from [caret](https://stats.stackexchange.com/questions/135671/how-does-caret-handle-factors) can handle categorically-labeled data.

In [19]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
import seaborn as sns
from sequencing_tools.viz_tools import color_encoder, simpsons_palette, mixed_sort
from helper_function import *
from feature_selection import make_pca_df, pca_biplot, loading_plot, plot_outliers,\
                        labeling_expression
from rf_modeling import h2o_randomForest, R_randomForest, test_nucleotides, train_to_cat,\
                        rename_col, k_fold_cv, plot_kfold_reg, plot_var,\
                        plot_R2, plot_test

plt.rc('axes', labelsize=15)
plt.rc('xtick', labelsize=15)
plt.rc('ytick', labelsize=15)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Reading in miRNA count data, combining counts from replicates and only look at NTT data, the first and last 3 nucleotides of each miRNA are extracted as predictors, $\Delta log10$ CPM is computed and will be used as target:

In [2]:
df = pd.read_csv('../data/miR_counts.csv') \
    .rename(columns = {'id':'seq_id'})\
    .pipe(pd.melt, var_name = 'prep', value_name = 'seq_count', id_vars='seq_id')\
    .assign(prep = lambda d: d.prep.str.replace('[0-9]+$',''))\
    .groupby(["prep","seq_id"], as_index=False) \
    .agg({'seq_count':'sum'})\
    .merge(get_seq_base(shuffle = [0,1,2,-3,-2,-1]))\
    .assign(cpm = lambda d: d.groupby('prep').seq_count.transform(count_to_cpm))\
    .assign(expected_cpm = lambda d: 1e6 / 962) \
    .assign(Y = lambda d: np.log10(d['cpm']) - np.log10(d['expected_cpm']))  \
    .query('prep == "NTT"')\
    .reset_index() \
    .drop('index', axis=1)
df.head()

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log10
  # Remove the CWD from sys.path while we load stuff.

,prep,seq_id,seq_count,head0,head1,head2,tail0,tail1,tail2,cpm,expected_cpm,Y
0,NTT,EBV-1-1,404.0,T,A,A,G,T,T,11.834411,1039.50104,-1.943678
1,NTT,EBV-1-2,42864.0,T,A,T,T,G,A,1255.619332,1039.50104,0.082033
2,NTT,EBV-1-2-star,2511.0,A,A,A,A,G,C,73.554968,1039.50104,-1.150213
3,NTT,EBV-1-3,3967.0,T,A,A,A,C,A,116.205718,1039.50104,-0.951597
4,NTT,EBV-1-3P,3687.0,T,A,G,G,T,C,108.003651,1039.50104,-0.983386

In [3]:
control_df = pd.read_csv('../data/miR_counts.csv') \
    .rename(columns = {'id':'seq_id'})\
    .pipe(pd.melt, var_name = 'prep', value_name = 'seq_count', id_vars='seq_id')\
    .assign(prep = lambda d: d.prep.str.replace('[0-9]+$',''))\
    .groupby(["prep","seq_id"], as_index=False) \
    .agg({'seq_count':'sum'})\
    .merge(get_seq_base(shuffle = [3,4,5,-6,-5,-4]))\
    .assign(cpm = lambda d: d.groupby('prep').seq_count.transform(count_to_cpm))\
    .assign(expected_cpm = lambda d: 1e6 / 962) \
    .assign(Y = lambda d: np.log10(d['cpm']) - np.log10(d['expected_cpm']))  \
    .query('prep == "NTT"')\
    .reset_index() \
    .drop('index', axis=1)
control_df.head()

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log10
  # Remove the CWD from sys.path while we load stuff.

,prep,seq_id,seq_count,head0,head1,head2,tail0,tail1,tail2,cpm,expected_cpm,Y
0,NTT,EBV-1-1,404.0,C,C,T,G,G,A,11.834411,1039.50104,-1.943678
1,NTT,EBV-1-2,42864.0,C,T,T,A,A,T,1255.619332,1039.50104,0.082033
2,NTT,EBV-1-2-star,2511.0,T,T,C,G,A,T,73.554968,1039.50104,-1.150213
3,NTT,EBV-1-3,3967.0,C,G,G,A,G,C,116.205718,1039.50104,-0.951597
4,NTT,EBV-1-3P,3687.0,C,A,C,T,A,T,108.003651,1039.50104,-0.983386

In [6]:
model_df = df.filter(regex = 'head|tail|Y') \
    .pipe(train_to_cat)
model_df.head()

  head0 head1 head2 tail0 tail1 tail2         Y
0     T     A     A     G     T     T -1.943678
1     T     A     T     T     G     A  0.082033
2     A     A     A     A     G     C -1.150213
3     T     A     A     A     C     A -0.951597
4     T     A     G     G     T     C -0.983386

In [7]:
control_model_df = control_df.filter(regex = 'head|tail|Y') \
    .pipe(train_to_cat)
control_model_df.head()

  head0 head1 head2 tail0 tail1 tail2         Y
0     C     C     T     G     G     A -1.943678
1     C     T     T     A     A     T  0.082033
2     T     T     C     G     A     T -1.150213
3     C     G     G     A     G     C -0.951597
4     C     A     C     T     A     T -0.983386

# Train cross-validation #

In [ ]:
rrf = R_randomForest()
rf = GridSearchCV(estimator=rrf, 
             param_grid={'ntrees':np.arange(10,100,10),
                        'mtry':np.arange(2,10,1)},
             n_jobs = 4,
             refit = True,
             cv = 8, 
             return_train_score = True)
rf.fit(model_df.drop('Y', axis=1), model_df.Y)

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

In [21]:
rf.cv_results_

{'mean_fit_time': array([0.09250776, 0.08357716, 0.12587579, 0.19233465, 0.17079059,
        0.19605454, 0.40262294, 0.26386746, 0.39354682, 0.12208835,
        0.11884467, 0.16859198, 0.21286782, 0.24723228, 0.26829775,
        0.47214397, 0.36602362, 0.37307668, 0.07710409, 0.12920435,
        0.19004544, 0.25789237, 0.36490766, 0.36568443, 0.55289602,
        0.53614163, 0.54712566, 0.08646663, 0.14346544, 0.20706232,
        0.26902215, 0.36957192, 0.38327575, 0.452775  , 0.516174  ,
        0.56712699, 0.09611066, 0.17088811, 0.24521629, 0.31507238,
        0.36976369, 0.44663461, 0.52218342, 0.62934232, 0.67102305,
        0.09311875, 0.16620628, 0.24090322, 0.32016969, 0.4533697 ,
        0.49203006, 0.91327437, 1.27504547, 1.54197049, 0.27745088,
        0.36350902, 0.5425059 , 0.61188896, 0.81536961, 0.93466369,
        0.69463102, 0.85686707, 0.88645466, 0.11418335, 0.3170987 ,
        0.32364194, 0.59016935, 0.49978765, 0.53104027, 0.71900535,
        0.70138272, 0.61681334]),
 'std_fit_time': array([0.02036011, 0.00330734, 0.00476762, 0.01076851, 0.00379074,
        0.0132548 , 0.00507617, 0.02190029, 0.03617466, 0.06203539,
        0.00643757, 0.0134787 , 0.00155697, 0.00772915, 0.0123882 ,
        0.01484076, 0.04558076, 0.00123477, 0.01037092, 0.00988266,
        0.00713935, 0.0260284 , 0.01444842, 0.01674678, 0.01350979,
        0.03126313, 0.04556107, 0.00505678, 0.00554878, 0.00508676,
        0.00487519, 0.01053392, 0.00687249, 0.01359863, 0.01273584,
        0.00704706, 0.0048524 , 0.00663257, 0.01236206, 0.01804702,
        0.01452528, 0.00258171, 0.00993742, 0.02562857, 0.0213003 ,
        0.00307837, 0.00673701, 0.00824967, 0.0037453 , 0.0085974 ,
        0.00236706, 0.06177874, 0.02638621, 0.11156555, 0.04115958,
        0.06226274, 0.03313547, 0.03875381, 0.11470932, 0.06459018,
        0.02147797, 0.02991606, 0.03321248, 0.00965346, 0.02149956,
        0.03214374, 0.02045218, 0.02383009, 0.05254578, 0.04414684,
        0.02232623, 0.08763115]),
 'mean_score_time': array([0.02724687, 0.01517336, 0.01692104, 0.01679468, 0.01585174,
        0.04542883, 0.02508338, 0.02054993, 0.03853162, 0.02152069,
        0.01741131, 0.02029634, 0.01477432, 0.02094992, 0.03346999,
        0.02431107, 0.01907404, 0.02326473, 0.0113306 , 0.02107994,
        0.01511192, 0.03449591, 0.02825578, 0.02457658, 0.01647925,
        0.02030794, 0.02464366, 0.01041818, 0.01721199, 0.02025406,
        0.02163394, 0.01865387, 0.01495433, 0.02708101, 0.01753561,
        0.01959348, 0.01339761, 0.01306725, 0.04106164, 0.01588774,
        0.01990334, 0.02209393, 0.01346469, 0.02072024, 0.02097662,
        0.01592835, 0.01116935, 0.01569343, 0.03131008, 0.02634907,
        0.02162584, 0.05354524, 0.06670356, 0.05678805, 0.0436933 ,
        0.02163529, 0.05028693, 0.03874477, 0.06579669, 0.02601171,
        0.03692794, 0.0328083 , 0.03191964, 0.01411327, 0.03461965,
        0.03467345, 0.02508537, 0.02104743, 0.02377804, 0.02857892,
        0.02998201, 0.01650127]),
 'std_score_time': array([0.01282343, 0.00382007, 0.00069234, 0.00335915, 0.00286776,
        0.03526946, 0.00147578, 0.00032175, 0.02062163, 0.00254593,
        0.00355503, 0.00469632, 0.0007056 , 0.00489527, 0.01078941,
        0.00951343, 0.00319156, 0.00136834, 0.00130083, 0.00877278,
        0.00495003, 0.01503417, 0.00944112, 0.00705737, 0.00263822,
        0.00686768, 0.00407618, 0.00016789, 0.00507606, 0.00227788,
        0.0045573 , 0.0074055 , 0.00241498, 0.00154555, 0.00185968,
        0.00250095, 0.00345996, 0.00192273, 0.00613021, 0.00415128,
        0.0055046 , 0.0073765 , 0.00110121, 0.00229837, 0.00153307,
        0.00472613, 0.00047786, 0.00342049, 0.01329442, 0.0019775 ,
        0.0069642 , 0.02820422, 0.03056737, 0.01753169, 0.037112  ,
        0.00249999, 0.01669246, 0.01467607, 0.02588673, 0.00808695,
        0.01048168, 0.0094724 , 0.01782642, 0.00390786, 0.01028526,
        0.02399742, 0.00965895, 0.005802  , 0.0016508 , 0.01240923,
        0.01365678, 0.00412524]),
 'param_mtry': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3,
                    4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                    6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7,
                    8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_ntrees': masked_array(data=[10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 20, 30, 40, 50,
                    60, 70, 80, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 10,
                    20, 30, 40, 50, 60, 70, 80, 90, 10, 20, 30, 40, 50, 60,
                    70, 80, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 20,
                    30, 40, 50, 60, 70, 80, 90, 10, 20, 30, 40, 50, 60, 70,
                    80, 90],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'mtry': 2, 'ntrees': 10},
  {'mtry': 2, 'ntrees': 20},
  {'mtry': 2, 'ntrees': 30},
  {'mtry': 2, 'ntrees': 40},
  {'mtry': 2, 'ntrees': 50},
  {'mtry': 2, 'ntrees': 60},
  {'mtry': 2, 'ntrees': 70},
  {'mtry': 2, 'ntrees': 80},
  {'mtry': 2, 'ntrees': 90},
  {'mtry': 3, 'ntrees': 10},
  {'mtry': 3, 'ntrees': 20},
  {'mtry': 3, 'ntrees': 30},
  {'mtry': 3, 'ntrees': 40},
  {'mtry': 3, 'ntrees': 50},
  {'mtry': 3, 'ntrees': 60},
  {'mtry': 3, 'ntrees': 70},
  {'mtry': 3, 'ntrees': 80},
  {'mtry': 3, 'ntrees': 90},
  {'mtry': 4, 'ntrees': 10},
  {'mtry': 4, 'ntrees': 20},
  {'mtry': 4, 'ntrees': 30},
  {'mtry': 4, 'ntrees': 40},
  {'mtry': 4, 'ntrees': 50},
  {'mtry': 4, 'ntrees': 60},
  {'mtry': 4, 'ntrees': 70},
  {'mtry': 4, 'ntrees': 80},
  {'mtry': 4, 'ntrees': 90},
  {'mtry': 5, 'ntrees': 10},
  {'mtry': 5, 'ntrees': 20},
  {'mtry': 5, 'ntrees': 30},
  {'mtry': 5, 'ntrees': 40},
  {'mtry': 5, 'ntrees': 50},
  {'mtry': 5, 'ntrees': 60},
  {'mtry': 5, 'ntrees': 70},
  {'mtry': 5, 'ntrees': 80},
  {'mtry': 5, 'ntrees': 90},
  {'mtry': 6, 'ntrees': 10},
  {'mtry': 6, 'ntrees': 20},
  {'mtry': 6, 'ntrees': 30},
  {'mtry': 6, 'ntrees': 40},
  {'mtry': 6, 'ntrees': 50},
  {'mtry': 6, 'ntrees': 60},
  {'mtry': 6, 'ntrees': 70},
  {'mtry': 6, 'ntrees': 80},
  {'mtry': 6, 'ntrees': 90},
  {'mtry': 7, 'ntrees': 10},
  {'mtry': 7, 'ntrees': 20},
  {'mtry': 7, 'ntrees': 30},
  {'mtry': 7, 'ntrees': 40},
  {'mtry': 7, 'ntrees': 50},
  {'mtry': 7, 'ntrees': 60},
  {'mtry': 7, 'ntrees': 70},
  {'mtry': 7, 'ntrees': 80},
  {'mtry': 7, 'ntrees': 90},
  {'mtry': 8, 'ntrees': 10},
  {'mtry': 8, 'ntrees': 20},
  {'mtry': 8, 'ntrees': 30},
  {'mtry': 8, 'ntrees': 40},
  {'mtry': 8, 'ntrees': 50},
  {'mtry': 8, 'ntrees': 60},
  {'mtry': 8, 'ntrees': 70},
  {'mtry': 8, 'ntrees': 80},
  {'mtry': 8, 'ntrees': 90},
  {'mtry': 9, 'ntrees': 10},
  {'mtry': 9, 'ntrees': 20},
  {'mtry': 9, 'ntrees': 30},
  {'mtry': 9, 'ntrees': 40},
  {'mtry': 9, 'ntrees': 50},
  {'mtry': 9, 'ntrees': 60},
  {'mtry': 9, 'ntrees': 70},
  {'mtry': 9, 'ntrees': 80},
  {'mtry': 9, 'ntrees': 90}],
 'split0_test_score': array([-0.19206419, -0.21965519, -0.28781739, -0.1560849 , -0.25872767,
        -0.16167632, -0.25760677, -0.21817316, -0.17919097,  0.09850958,
        -0.06351388, -0.07713638, -0.00424468, -0.07309744, -0.05213753,
        -0.01663085, -0.01071268, -0.01428712, -0.00181284, -0.01709224,
         0.02105398, -0.02884199,  0.04853217,  0.04805744,  0.03193225,
         0.02319422,  0.01839412,  0.15458097,  0.09078304,  0.04501374,
         0.02061436,  0.0604394 ,  0.06260742,  0.04265833,  0.05974564,
         0.06492896,  0.08252163,  0.11059913,  0.05214025,  0.11419055,
         0.10785788,  0.07768732,  0.07547068,  0.06328716,  0.0957135 ,
         0.10048546,  0.08658563,  0.07352322,  0.06884411,  0.05350921,
         0.07469537,  0.05114825,  0.08139264,  0.06561536,  0.10538756,
         0.01605315,  0.08934197,  0.0742839 ,  0.06026894,  0.04586497,
         0.06742064,  0.05641943,  0.06594101, -0.02306735,  0.03091306,
         0.04375755,  0.09374305,  0.05438402,  0.03930576,  0.0510428 ,
         0.03514469,  0.10248369]),
 'split1_test_score': array([0.20222158, 0.18051921, 0.17962239, 0.20787573, 0.15640677,
        0.1041289 , 0.15087863, 0.17958076, 0.14363333, 0.22966891,
        0.25051621, 0.3065756 , 0.32193869, 0.25406974, 0.27486175,
        0.29062503, 0.27999612, 0.26810585, 0.29909671, 0.29868344,
        0.32366851, 0.32502132, 0.33574367, 0.31946932, 0.32548606,
        0.34314438, 0.30499036, 0.30018866, 0.32273364, 0.31938913,
        0.2961247 , 0.34113131, 0.30066191, 0.32730817, 0.31374077,
        0.34555949, 0.27798382, 0.26203769, 0.28552679, 0.32169508,
        0.31611269, 0.29219783, 0.32820435, 0.3357521 , 0.33926816,
        0.32202044, 0.28855423, 0.33890485, 0.30924389, 0.31405654,
        0.33930247, 0.32081617, 0.31952826, 0.33577188, 0.34404996,
        0.31711374, 0.34649431, 0.32962354, 0.30837944, 0.31947953,
        0.33860937, 0.33496275, 0.32387045, 0.32363813, 0.35448701,
        0.33276681, 0.31333711, 0.3249478 , 0.30771569, 0.28447981,
        0.33590216, 0.30996351]),
 'split2_test_score': array([ 0.07690031, -0.01525725,  0.10766707,  0.02531629,  0.05663483,
         0.0290653 ,  0.040768  ,  0.06921877,  0.03593609,  0.10846248,
         0.12443512,  0.1573258 ,  0.17554153,  0.17630644,  0.17334307,
         0.1469616 ,  0.19520548,  0.18515556,  0.18872974,  0.19457156,
         0.19267686,  0.19822807,  0.21686281,  0.20699741,  0.18192181,
         0.18858957,  0.17466232,  0.17784995,  0.194611  ,  0.1984516 ,
         0.1877744 ,  0.20660131,  0.19826152,  0.2176689 ,  0.20142494,
         0.19810891,  0.19685267,  0.22257078,  0.19792328,  0.21058439,
         0.22052594,  0.2118285 ,  0.2177045 ,  0.21725439,  0.21338943,
         0.197529  ,  0.18425067,  0.15911815,  0.17474567,  0.20102744,
         0.22831137,  0.20335596,  0.21520376,  0.20984247,  0.24688533,
         0.23481927,  0.21487282,  0.22744633,  0.21728821,  0.21268451,
         0.2168354 ,  0.22610951,  0.2103974 ,  0.20048724,  0.23220288,
         0.20672809,  0.19030326,  0.23619113,  0.21391072,  0.2009749 ,
         0.21115701,  0.20634569]),
 'mean_test_score': array([ 2.89694608e-02, -1.81340660e-02, -2.88077393e-04,  2.57027727e-02,
        -1.53033941e-02, -9.53412493e-03, -2.20519439e-02,  1.01474490e-02,
         8.89246033e-05,  1.45585539e-01,  1.03791047e-01,  1.28892146e-01,
         1.64400280e-01,  1.19033440e-01,  1.31979476e-01,  1.40311685e-01,
         1.54787670e-01,  1.46284399e-01,  1.61976754e-01,  1.58683654e-01,
         1.79119041e-01,  1.64767719e-01,  2.00362416e-01,  1.91491956e-01,
         1.79777814e-01,  1.84972298e-01,  1.66006612e-01,  2.10907517e-01,
         2.02717643e-01,  1.87606893e-01,  1.68150774e-01,  2.02719976e-01,
         1.87165426e-01,  1.95855815e-01,  1.91626941e-01,  2.02870732e-01,
         1.85774537e-01,  1.98377412e-01,  1.78509948e-01,  2.15495104e-01,
         2.14826255e-01,  1.93885919e-01,  2.07115515e-01,  2.05418926e-01,
         2.16126537e-01,  2.06687811e-01,  1.86465810e-01,  1.90548045e-01,
         1.84287797e-01,  1.89519110e-01,  2.14088298e-01,  1.91761420e-01,
         2.05364673e-01,  2.03736898e-01,  2.32092252e-01,  1.89281436e-01,
         2.16905143e-01,  2.10433594e-01,  1.95289355e-01,  1.92655538e-01,
         2.07612227e-01,  2.05809485e-01,  2.00058881e-01,  1.66984549e-01,
         2.05840272e-01,  1.94404689e-01,  1.99136980e-01,  2.05142074e-01,
         1.86949394e-01,  1.78809489e-01,  1.94050190e-01,  2.06264211e-01]),
 'std_test_score': array([0.16456685, 0.16346802, 0.20558093, 0.14866376, 0.17700881,
        0.11193873, 0.17264411, 0.16773406, 0.13426771, 0.05964078,
        0.12909425, 0.1580115 , 0.13346499, 0.13961827, 0.13672145,
        0.12558965, 0.12212356, 0.11856606, 0.12435243, 0.1314469 ,
        0.12397612, 0.14645689, 0.1178915 , 0.11140017, 0.11991467,
        0.13071193, 0.11722261, 0.06389032, 0.09491535, 0.11233272,
        0.11338468, 0.11468428, 0.0975509 , 0.11728366, 0.10397732,
        0.11467575, 0.08022075, 0.0641716 , 0.0963094 , 0.08482827,
        0.08515897, 0.08853002, 0.10350204, 0.11160439, 0.0995012 ,
        0.09071901, 0.08251101, 0.11064576, 0.09842462, 0.10673297,
        0.10854699, 0.11045242, 0.0975167 , 0.11043241, 0.09804201,
        0.12710455, 0.10504635, 0.10498547, 0.10252653, 0.11265173,
        0.11096109, 0.11467305, 0.10560651, 0.14357718, 0.13347122,
        0.11836903, 0.08991204, 0.11266763, 0.11127498, 0.0966254 ,
        0.12343978, 0.08474731]),
 'rank_test_score': array([64, 71, 68, 65, 70, 69, 72, 66, 67, 58, 63, 61, 53, 62, 60, 59, 56,
        57, 54, 55, 46, 52, 22, 34, 45, 43, 51,  7, 21, 38, 49, 20, 39, 26,
        33, 19, 42, 25, 48,  4,  5, 30, 10, 15,  3, 11, 41, 35, 44, 36,  6,
        32, 16, 18,  1, 37,  2,  8, 27, 31,  9, 14, 23, 50, 13, 28, 24, 17,
        40, 47, 29, 12], dtype=int32),
 'split0_train_score': array([0.69068112, 0.70817113, 0.70973757, 0.72290524, 0.72050403,
        0.72010485, 0.71263877, 0.723961  , 0.72492391, 0.79201278,
        0.78296998, 0.79413168, 0.79327925, 0.78946898, 0.78904339,
        0.78674617, 0.80003784, 0.79277334, 0.79088464, 0.80439028,
        0.81294625, 0.81293228, 0.81591332, 0.81486171, 0.8162269 ,
        0.81305296, 0.81402023, 0.80905415, 0.8190349 , 0.81502445,
        0.81686772, 0.81749607, 0.82391677, 0.82351477, 0.82348242,
        0.82562517, 0.81633068, 0.83211153, 0.82452815, 0.82870441,
        0.82852494, 0.82972788, 0.83102501, 0.82638109, 0.83084911,
        0.81470102, 0.82446545, 0.82817375, 0.82871212, 0.82435223,
        0.82966577, 0.82926255, 0.8277003 , 0.82623499, 0.80734591,
        0.82379438, 0.82902918, 0.82465205, 0.82927131, 0.82355782,
        0.82922351, 0.83118753, 0.82675818, 0.80629781, 0.82185691,
        0.82250805, 0.82929627, 0.82587502, 0.83279384, 0.82469242,
        0.82956473, 0.82707125]),
 'split1_train_score': array([0.63591199, 0.64099547, 0.65413822, 0.65763993, 0.658091  ,
        0.65654337, 0.64581327, 0.65781386, 0.64456985, 0.7449909 ,
        0.74826769, 0.75234145, 0.75544845, 0.7587175 , 0.75591507,
        0.75396931, 0.75419455, 0.75519516, 0.75580282, 0.77810745,
        0.77808213, 0.78666537, 0.77926995, 0.78202646, 0.78652898,
        0.78230654, 0.78780322, 0.76953421, 0.79499968, 0.79109143,
        0.78731205, 0.78363784, 0.80043304, 0.80055328, 0.79570776,
        0.79311962, 0.78617775, 0.79084757, 0.80587082, 0.80047945,
        0.80617845, 0.79886764, 0.80194437, 0.8094007 , 0.80577116,
        0.77994798, 0.79593348, 0.80001654, 0.80959892, 0.80421572,
        0.81040467, 0.80229778, 0.80310337, 0.80498449, 0.8009015 ,
        0.79549963, 0.8071186 , 0.79635779, 0.80249987, 0.80381639,
        0.80369062, 0.81173461, 0.80396592, 0.79525159, 0.80205355,
        0.79155195, 0.80722743, 0.79875945, 0.79770465, 0.80545274,
        0.80903298, 0.80406235]),
 'split2_train_score': array([0.73212709, 0.72260612, 0.74510151, 0.7452521 , 0.74766518,
        0.74603755, 0.73870295, 0.74431726, 0.74584429, 0.79763517,
        0.79710268, 0.80591096, 0.80734935, 0.8146468 , 0.81628201,
        0.81079808, 0.81104811, 0.8143502 , 0.81432035, 0.82687315,
        0.82259327, 0.83201761, 0.83095935, 0.83364288, 0.83086868,
        0.83220507, 0.82853032, 0.82526558, 0.82934916, 0.83268282,
        0.8387315 , 0.83522213, 0.84064251, 0.84305056, 0.84141721,
        0.84137016, 0.82685973, 0.83777228, 0.83799774, 0.84295794,
        0.84661882, 0.84035526, 0.84509941, 0.84819179, 0.84293695,
        0.82677473, 0.83309868, 0.83932958, 0.84045599, 0.84755687,
        0.84837317, 0.84457979, 0.84475672, 0.8424991 , 0.83153755,
        0.83733106, 0.84312515, 0.84150118, 0.84205296, 0.84129183,
        0.84284444, 0.84480348, 0.84262203, 0.81968385, 0.83296472,
        0.83857494, 0.84254189, 0.84394562, 0.83962482, 0.84096073,
        0.84714982, 0.84245547]),
 'mean_train_score': array([0.68624006, 0.69059091, 0.70299243, 0.70859909, 0.7087534 ,
        0.70756192, 0.69905166, 0.70869737, 0.70511268, 0.77821295,
        0.77611345, 0.78412803, 0.78535902, 0.78761109, 0.78708015,
        0.78383785, 0.78842684, 0.78743957, 0.78700261, 0.80312363,
        0.80454055, 0.81053842, 0.80871421, 0.81017702, 0.81120818,
        0.80918819, 0.81011792, 0.80128465, 0.81446125, 0.8129329 ,
        0.81430376, 0.81211868, 0.82166411, 0.82237287, 0.82020246,
        0.82003831, 0.80978939, 0.82024379, 0.8227989 , 0.82404727,
        0.8271074 , 0.8229836 , 0.82602293, 0.82799119, 0.82651908,
        0.80714124, 0.81783254, 0.82250662, 0.82625568, 0.82537494,
        0.8294812 , 0.82538004, 0.8251868 , 0.82457286, 0.81326165,
        0.81887502, 0.82642431, 0.820837  , 0.82460805, 0.82288868,
        0.82525286, 0.82924187, 0.82444871, 0.80707775, 0.81895839,
        0.81754498, 0.8263552 , 0.82286003, 0.82337444, 0.82370196,
        0.82858251, 0.82452969]),
 'std_train_score': array([0.03940498, 0.03556096, 0.03744064, 0.03717053, 0.03750059,
        0.03759695, 0.03912016, 0.03692734, 0.04365388, 0.02360341,
        0.02051785, 0.02298518, 0.0219161 , 0.0228708 , 0.02468377,
        0.02329121, 0.02461969, 0.02444267, 0.02404687, 0.01992865,
        0.01911897, 0.01859219, 0.02170743, 0.02133109, 0.01844619,
        0.02055347, 0.01685418, 0.02340613, 0.01439121, 0.0170439 ,
        0.02107005, 0.02139972, 0.01649255, 0.01736822, 0.01880438,
        0.02009044, 0.0172404 , 0.02091434, 0.01317264, 0.01765167,
        0.01654011, 0.01759583, 0.01796951, 0.01587727, 0.01547871,
        0.01985025, 0.01588101, 0.01654219, 0.01271653, 0.01770872,
        0.01550112, 0.01747851, 0.01709754, 0.01536031, 0.0131881 ,
        0.01742828, 0.01481456, 0.0186261 , 0.01648072, 0.0153066 ,
        0.01622919, 0.01357023, 0.01586556, 0.00998966, 0.01278478,
        0.0195152 , 0.01456629, 0.01856996, 0.01836426, 0.01451298,
        0.01557662, 0.01577662])}