This notebook contains code for traning a RandomForest regressor to predict measurement biases of miRXplore datasets from TGIRT-seq.

The [R RandomForest](https://cran.r-project.org/web/packages/randomForest/randomForest.pdf) model is being used here becuase neither [scikit-learn randomforest](https://github.com/scikit-learn/scikit-learn/issues/5442) nor the *train* module from [caret](https://stats.stackexchange.com/questions/135671/how-does-caret-handle-factors) can handle categorically-labeled data.

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
import seaborn as sns
from sequencing_tools.viz_tools import color_encoder, simpsons_palette, mixed_sort
from helper_function import *
from feature_selection import make_pca_df, pca_biplot, loading_plot, plot_outliers,\
                        labeling_expression
from rf_modeling import h2o_randomForest, R_randomForest, test_nucleotides, train_to_cat,\
                        rename_col, k_fold_cv, plot_kfold_reg, plot_var,\
                        plot_R2, plot_test

plt.rc('axes', labelsize=15)
plt.rc('xtick', labelsize=15)
plt.rc('ytick', labelsize=15)

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:146: RRuntimeWarning: Error in sort.list(n) : failed to open ICU collator (4)

  warnings.warn(x, RRuntimeWarning)

Reading in miRNA count data, combining counts from replicates and only look at NTT data, the first and last 3 nucleotides of each miRNA are extracted as predictors, $\Delta log10$ CPM is computed and will be used as target:

In [2]:
df = pd.read_csv('../data/miR_counts.csv') \
    .rename(columns = {'id':'seq_id'})\
    .pipe(pd.melt, var_name = 'prep', value_name = 'seq_count', id_vars='seq_id')\
    .assign(prep = lambda d: d.prep.str.replace('[0-9]+$',''))\
    .groupby(["prep","seq_id"], as_index=False) \
    .agg({'seq_count':'sum'})\
    .merge(get_seq_base(shuffle = [0,1,2,-3,-2,-1]))\
    .assign(cpm = lambda d: d.groupby('prep').seq_count.transform(count_to_cpm))\
    .assign(expected_cpm = lambda d: 1e6 / 962) \
    .assign(Y = lambda d: np.log10(d['cpm']) - np.log10(d['expected_cpm']))  \
    .query('prep == "NTT"')\
    .reset_index() \
    .drop('index', axis=1)
df.head()

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log10
  # Remove the CWD from sys.path while we load stuff.

,prep,seq_id,seq_count,head0,head1,head2,tail0,tail1,tail2,cpm,expected_cpm,Y
0,NTT,EBV-1-1,404.0,T,A,A,G,T,T,11.834411,1039.50104,-1.943678
1,NTT,EBV-1-2,42864.0,T,A,T,T,G,A,1255.619332,1039.50104,0.082033
2,NTT,EBV-1-2-star,2511.0,A,A,A,A,G,C,73.554968,1039.50104,-1.150213
3,NTT,EBV-1-3,3967.0,T,A,A,A,C,A,116.205718,1039.50104,-0.951597
4,NTT,EBV-1-3P,3687.0,T,A,G,G,T,C,108.003651,1039.50104,-0.983386

In [3]:
control_df = pd.read_csv('../data/miR_counts.csv') \
    .rename(columns = {'id':'seq_id'})\
    .pipe(pd.melt, var_name = 'prep', value_name = 'seq_count', id_vars='seq_id')\
    .assign(prep = lambda d: d.prep.str.replace('[0-9]+$',''))\
    .groupby(["prep","seq_id"], as_index=False) \
    .agg({'seq_count':'sum'})\
    .merge(get_seq_base(shuffle = [3,4,5,-6,-5,-4]))\
    .assign(cpm = lambda d: d.groupby('prep').seq_count.transform(count_to_cpm))\
    .assign(expected_cpm = lambda d: 1e6 / 962) \
    .assign(Y = lambda d: np.log10(d['cpm']) - np.log10(d['expected_cpm']))  \
    .query('prep == "NTT"')\
    .reset_index() \
    .drop('index', axis=1)
control_df.head()

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log10
  # Remove the CWD from sys.path while we load stuff.

,prep,seq_id,seq_count,head0,head1,head2,tail0,tail1,tail2,cpm,expected_cpm,Y
0,NTT,EBV-1-1,404.0,C,C,T,G,G,A,11.834411,1039.50104,-1.943678
1,NTT,EBV-1-2,42864.0,C,T,T,A,A,T,1255.619332,1039.50104,0.082033
2,NTT,EBV-1-2-star,2511.0,T,T,C,G,A,T,73.554968,1039.50104,-1.150213
3,NTT,EBV-1-3,3967.0,C,G,G,A,G,C,116.205718,1039.50104,-0.951597
4,NTT,EBV-1-3P,3687.0,C,A,C,T,A,T,108.003651,1039.50104,-0.983386

In [4]:
model_df = df.filter(regex = 'head|tail|Y') \
    .pipe(train_to_cat)
model_df.head()

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  head0 head1 head2 tail0 tail1 tail2         Y
0     T     A     A     G     T     T -1.943678
1     T     A     T     T     G     A  0.082033
2     A     A     A     A     G     C -1.150213
3     T     A     A     A     C     A -0.951597
4     T     A     G     G     T     C -0.983386

In [5]:
control_model_df = control_df.filter(regex = 'head|tail|Y') \
    .pipe(train_to_cat)
control_model_df.head()

  head0 head1 head2 tail0 tail1 tail2         Y
0     C     C     T     G     G     A -1.943678
1     C     T     T     A     A     T  0.082033
2     T     T     C     G     A     T -1.150213
3     C     G     G     A     G     C -0.951597
4     C     A     C     T     A     T -0.983386

# Train cross-validation #

In [6]:
rrf = R_randomForest()
rf = GridSearchCV(estimator=rrf, 
             param_grid={'ntrees':np.arange(500,600,10),
                        'mtry':np.arange(2,10,5)},
             n_jobs = 2,
             refit = True,
             cv = 8, 
             return_train_score = True)
rf.fit(model_df.drop('Y', axis=1), model_df.Y)

/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/Users/wckdouglas/miniconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

GridSearchCV(cv=8, error_score='raise-deprecating',
       estimator=R_randomForest(mtry=2, ntrees=500), fit_params=None,
       iid='warn', n_jobs=2,
       param_grid={'ntrees': array([500, 510, 520, 530, 540, 550, 560, 570, 580, 590]), 'mtry': array([2, 7])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [7]:
rf.cv_results_

{'mean_fit_time': array([2.10026595, 1.76597887, 1.85254386, 3.33593315, 2.34250897,
        1.62810728, 1.56776941, 1.59027368, 1.63691756, 1.62188041,
        3.51933551, 3.64386529, 3.73621812, 3.89040071, 3.92218444,
        3.89502111, 3.99940443, 4.37690872, 4.31070188, 4.05204549]),
 'std_fit_time': array([0.44495877, 0.31649419, 0.61853308, 1.14451593, 0.44214217,
        0.09479057, 0.06006114, 0.07732238, 0.08566183, 0.07459732,
        0.06096259, 0.09247295, 0.06900852, 0.16072355, 0.07187828,
        0.07031298, 0.06033658, 0.14355623, 0.1645722 , 0.38188948]),
 'mean_score_time': array([0.06064999, 0.06824648, 0.04638529, 0.11328682, 0.03736156,
        0.03850189, 0.03419396, 0.03177541, 0.03215498, 0.04073399,
        0.0376685 , 0.04728475, 0.03275585, 0.0540697 , 0.05849877,
        0.04292399, 0.06188458, 0.03864127, 0.03610587, 0.03779045]),
 'std_score_time': array([0.03336305, 0.07513566, 0.02669626, 0.10501744, 0.00621575,
        0.00850487, 0.00602824, 0.00495201, 0.00686865, 0.0195827 ,
        0.01636745, 0.01912037, 0.00461812, 0.02219549, 0.02487626,
        0.01875842, 0.02485052, 0.00710932, 0.00444644, 0.0060546 ]),
 'param_mtry': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 7, 7, 7, 7, 7, 7, 7, 7,
                    7, 7],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_ntrees': masked_array(data=[500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 500,
                    510, 520, 530, 540, 550, 560, 570, 580, 590],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'mtry': 2, 'ntrees': 500},
  {'mtry': 2, 'ntrees': 510},
  {'mtry': 2, 'ntrees': 520},
  {'mtry': 2, 'ntrees': 530},
  {'mtry': 2, 'ntrees': 540},
  {'mtry': 2, 'ntrees': 550},
  {'mtry': 2, 'ntrees': 560},
  {'mtry': 2, 'ntrees': 570},
  {'mtry': 2, 'ntrees': 580},
  {'mtry': 2, 'ntrees': 590},
  {'mtry': 7, 'ntrees': 500},
  {'mtry': 7, 'ntrees': 510},
  {'mtry': 7, 'ntrees': 520},
  {'mtry': 7, 'ntrees': 530},
  {'mtry': 7, 'ntrees': 540},
  {'mtry': 7, 'ntrees': 550},
  {'mtry': 7, 'ntrees': 560},
  {'mtry': 7, 'ntrees': 570},
  {'mtry': 7, 'ntrees': 580},
  {'mtry': 7, 'ntrees': 590}],
 'split0_test_score': array([0.53606142, 0.53189908, 0.53976892, 0.54090582, 0.53362152,
        0.53716414, 0.5391799 , 0.53416912, 0.53432308, 0.53110823,
        0.53299988, 0.53214707, 0.52547996, 0.52928716, 0.52594977,
        0.53326198, 0.53682047, 0.52707825, 0.5313482 , 0.52987795]),
 'split1_test_score': array([0.58825416, 0.59162154, 0.59611842, 0.59015851, 0.58876986,
        0.592113  , 0.58510836, 0.59304374, 0.59008642, 0.58932345,
        0.5798786 , 0.58085354, 0.58542062, 0.58100832, 0.57891744,
        0.58093559, 0.58377417, 0.58683586, 0.58088612, 0.5831537 ]),
 'split2_test_score': array([0.55606849, 0.5513423 , 0.55507823, 0.55622346, 0.55940599,
        0.55676114, 0.5558698 , 0.552541  , 0.55625932, 0.55261117,
        0.53654464, 0.5385245 , 0.54035596, 0.53426494, 0.53602259,
        0.53064113, 0.53602253, 0.54002909, 0.53919922, 0.53168928]),
 'split3_test_score': array([0.65883463, 0.65728248, 0.66241027, 0.65927098, 0.66177759,
        0.65955952, 0.66211569, 0.66321337, 0.66088899, 0.65793648,
        0.6405465 , 0.63437991, 0.64015016, 0.63428093, 0.63903336,
        0.63680343, 0.63212614, 0.63274152, 0.6354171 , 0.63671473]),
 'split4_test_score': array([0.62303999, 0.62039981, 0.61309843, 0.61717443, 0.61943021,
        0.61340707, 0.62051075, 0.60864873, 0.61552926, 0.61724806,
        0.60320477, 0.60006966, 0.60230804, 0.59930821, 0.60241937,
        0.59794432, 0.60249591, 0.60087195, 0.6026915 , 0.59931599]),
 'split5_test_score': array([0.51845021, 0.51880783, 0.52442862, 0.51762561, 0.51205469,
        0.51538971, 0.52372179, 0.51244327, 0.51470033, 0.51784486,
        0.507626  , 0.51044767, 0.50666978, 0.5075628 , 0.50398816,
        0.51174991, 0.51025282, 0.50500787, 0.51294593, 0.50641895]),
 'split6_test_score': array([0.51441486, 0.50780877, 0.50086394, 0.51289246, 0.51197344,
        0.50873355, 0.51383775, 0.51283317, 0.50757525, 0.5129078 ,
        0.46451115, 0.45426938, 0.45745969, 0.45922231, 0.45959318,
        0.45971354, 0.46049102, 0.459888  , 0.46873796, 0.45510111]),
 'split7_test_score': array([0.455752  , 0.45636348, 0.45752559, 0.4512943 , 0.4509738 ,
        0.4544178 , 0.45190625, 0.46394273, 0.45832539, 0.45426752,
        0.37030278, 0.38007335, 0.38171455, 0.37125187, 0.38562285,
        0.38581873, 0.38504148, 0.38508408, 0.38666882, 0.3784383 ]),
 'mean_test_score': array([0.55637153, 0.55445588, 0.55618605, 0.55571365, 0.55476428,
        0.55471392, 0.55654296, 0.55512206, 0.55472658, 0.55416855,
        0.5295079 , 0.52890313, 0.52999787, 0.52708179, 0.52899218,
        0.52966573, 0.53093923, 0.52974876, 0.5322865 , 0.52764889]),
 'std_test_score': array([0.06087414, 0.06107796, 0.06138367, 0.06128255, 0.06288239,
        0.06105362, 0.06139187, 0.05949027, 0.0609374 , 0.06069625,
        0.07931408, 0.07663043, 0.07768589, 0.07815384, 0.07580657,
        0.07468119, 0.07484845, 0.07532507, 0.0737812 , 0.07748947]),
 'rank_test_score': array([ 2,  9,  3,  4,  6,  8,  1,  5,  7, 10, 16, 18, 13, 20, 17, 15, 12,
        14, 11, 19], dtype=int32),
 'split0_train_score': array([0.81387154, 0.81281999, 0.81252826, 0.81360811, 0.81306513,
        0.81482058, 0.81378546, 0.81342825, 0.81379201, 0.81327363,
        0.86242279, 0.86246686, 0.86292948, 0.86258181, 0.86285028,
        0.86285753, 0.86301887, 0.8626617 , 0.86251778, 0.86317499]),
 'split1_train_score': array([0.8148963 , 0.81481446, 0.81491751, 0.81566304, 0.8166663 ,
        0.81512868, 0.81410094, 0.81553738, 0.81522324, 0.81530311,
        0.87143877, 0.87037765, 0.87044647, 0.87160922, 0.87059282,
        0.87040076, 0.87090413, 0.8704654 , 0.87075449, 0.87065468]),
 'split2_train_score': array([0.81598161, 0.81535215, 0.81623415, 0.8157031 , 0.81488592,
        0.81649853, 0.81707935, 0.81519188, 0.81565478, 0.81558963,
        0.86574711, 0.86594604, 0.86594336, 0.865655  , 0.86519591,
        0.8657886 , 0.86565926, 0.8664528 , 0.86551321, 0.86563533]),
 'split3_train_score': array([0.80696229, 0.80764818, 0.80703352, 0.80673548, 0.80885906,
        0.80726531, 0.8069246 , 0.80827075, 0.8061271 , 0.80708855,
        0.86245071, 0.86253523, 0.86273877, 0.86229558, 0.86351184,
        0.86326269, 0.86261192, 0.86228123, 0.86283991, 0.86232186]),
 'split4_train_score': array([0.81202249, 0.81181023, 0.81268284, 0.81215246, 0.81215467,
        0.81175707, 0.81212341, 0.81288787, 0.81290112, 0.81293548,
        0.86538279, 0.86543278, 0.86594089, 0.86594825, 0.86533848,
        0.86482824, 0.86543391, 0.86589385, 0.86568484, 0.86521108]),
 'split5_train_score': array([0.81591659, 0.81493501, 0.81702944, 0.81601063, 0.81594895,
        0.81641136, 0.81519395, 0.81638193, 0.81673097, 0.81646404,
        0.86583049, 0.86629338, 0.86640795, 0.86587646, 0.86548384,
        0.86590096, 0.86544885, 0.86533907, 0.86549522, 0.8661003 ]),
 'split6_train_score': array([0.8205388 , 0.82171447, 0.82165297, 0.82117386, 0.82314416,
        0.82041157, 0.82086274, 0.82153892, 0.82319817, 0.8224774 ,
        0.87162791, 0.87221909, 0.87177535, 0.87209857, 0.87249829,
        0.87196799, 0.87205056, 0.87197164, 0.87232928, 0.87173396]),
 'split7_train_score': array([0.81825345, 0.81841169, 0.81882219, 0.81782697, 0.81893094,
        0.81830353, 0.81818289, 0.81729759, 0.81836593, 0.8179563 ,
        0.87095169, 0.87039991, 0.87077684, 0.87091449, 0.87093359,
        0.87054563, 0.87075303, 0.87127458, 0.87085346, 0.87078025]),
 'mean_train_score': array([0.81480538, 0.81468827, 0.81511261, 0.81485921, 0.81545689,
        0.81507458, 0.81478167, 0.81506682, 0.81524916, 0.81513602,
        0.86698153, 0.86695887, 0.86711989, 0.86712242, 0.86705063,
        0.86694405, 0.86698507, 0.86704253, 0.86699852, 0.86695156]),
 'std_train_score': array([0.00383273, 0.0039542 , 0.00417375, 0.00397261, 0.00408275,
        0.00378785, 0.00394101, 0.00357859, 0.00455673, 0.00413702,
        0.00360439, 0.00344135, 0.00328153, 0.00367888, 0.0034694 ,
        0.00330363, 0.00347482, 0.00354177, 0.00355225, 0.00339901])}